@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: rgba(2, 132, 199);
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.fade-in { 
  opacity: 0; 
  transition: opacity 1s ease-in-out; 
} 
.fade-in.visible {
   opacity: 1;
}

.scroll-fadeOut{
  animation: fadeOut 2s forwards;
  animation-timeline: scroll();
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.scroll-dark_background{
  animation: darkOnScrollDown 10s forwards;
  animation-timeline: scroll();
}
@keyframes darkOnScrollDown{
  0%{
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgb(5, 5, 5);
  }
  100%{
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgb(95, 94, 94);
  }
}
.text{
  overflow: hidden;
  border-right: 0.15em soild orange;
  white-space: nowrap;
  animation: typing 4s steps(40, end) infinite;
}
@keyframes typing {
  0%{
    width: 0;
  }
  30%{
    width: 100%;
  }
  90%{
    width: 100%;
  }
  100%{
    width: 0;
  }
  
}